

<div class="row">
    <div class="col-md-6 form-group">
        <label>Region</label>
        <ng-select [items]="regionList" bindLabel="name" bindValue="name" (change)="onSelectedRegion()"
            placeholder="Select Region" [(ngModel)]="selectedRegion" required>
        </ng-select>
    </div>
    <div class="col-md-6 form-group">
        <label>Township</label>
        <ng-select [items]="townshipList" bindLabel="name" bindValue="name" [(ngModel)]="selectedtownship"
            placeholder="Select Township" required>
        </ng-select>
    </div>
</div>

<div *ngFor="let content of contentList">
    <app-content-card [contentData]="content"></app-content-card>
</div>



<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="loader"></div>
</div>
