<div class="card">
    <div class="card-body">
        <div class="d-flex mb-3">
            <div class="stauts-box" *ngFor="let status of contentData.status">
                {{status}}
            </div>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <div class="d-flex flex-column align-items-start">
                <div class="name">{{contentData.plantName}}</div>
                <div class="date">{{contentData.createdAt | date :'M/d/yy, h:mm a'}}</div>
            </div>
            <div>
                <div *ngFor="let size of contentData.size;let i=index" class="size">
                    {{contentData.size.length-1== i ? size : size +' / ' }}
                </div>
            </div>
        </div>
        <p class="info" *ngIf="contentData.information">
            {{contentData.information}}
        </p>
        <p class="info" *ngIf="contentData.address">
            {{contentData.address}}
        </p>
        <p class="phone_number" *ngIf="contentData.phoneNumber">
            <a href="tel:{{contentData.phoneNumber}}">{{contentData.phoneNumber}}</a>
        </p>

        <p class="remark">
            {{contentData.remark}}
        </p>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <button class="btn-action" (click)="onLikePost(contentData._id,'like')">
                <span class="count">{{contentData.metadata.likes}}</span>
                <div class="icon" *ngIf="contentData.like==true">
                    <img src="assets/icons/thumbs-up-fill.svg">
                </div>
                <div class="icon" *ngIf="contentData.like==false">
                    <img src="assets/icons/thumbs-up.svg">
                </div>
                <span class="label">OK</span>

            </button>
            <button class="btn-action" (click)="goComment(contentData.metadata.comments,contentData._id)">
                <span class="count">{{contentData.metadata.comments.length}}</span>
                <div class="icon">
                    <img src="assets/icons/comment.svg">
                </div>
                <span class="label">Comment</span>

            </button>
            <button class="btn-action" (click)="onLikePost(contentData._id,'dislike')">
                <span class="count">{{contentData.metadata.dislikes}}</span>
                <div class="icon" *ngIf="contentData.dislike==true">
                    <img src="assets/icons/thumbs-down-fill.svg">
                </div>
                <div class="icon" *ngIf="contentData.dislike==false">
                    <img src="assets/icons/thumbs-down.svg">
                </div>
                <span class="label">NOT OK</span>
            </button>
        </div>
    </div>
</div>

<app-comments *ngIf="isComment" [comments]="comments" [postId]="selectedPostId" (onEmit)="getMessage()"></app-comments>