<div class="row">
    <div class="col-md-6 form-group">
        <label>Region</label>
        <ng-select [items]="regionList" bindLabel="name" bindValue="_id" (change)="onSelectedRegion()"
            placeholder="Select Region" [(ngModel)]="selectedRegion" required>
        </ng-select>
    </div>
    <div class="col-md-6 form-group">
        <label>Township</label>
        <ng-select [items]="townshipList" bindLabel="name" bindValue="_id" [(ngModel)]="selectedtownship" (change)="onSelectedTownship()"
            placeholder="Select Township" required>
        </ng-select>
    </div>
</div>

<div *ngFor="let content of contentList">
    <app-content-card [contentData]="content" (onClick)="getList()"></app-content-card>
</div>

<p class="not-data" *ngIf="contentList.length==0 && !isLoading">No Post Yet</p>



<div class="d-flex justify-content-center" *ngIf="isLoading">
    <div class="loader"></div>
</div>
