p.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #C60000;
    padding: 14px;
}

.status-control {
    display: inline-block;
    margin-right: 15px;
}

.show-info {
    font-size: 10px;
    font-weight: bold;
    color: #C60000;
}

button.btn.btn-cancel {
    background: #dedede;
    color: #484747;
    padding: 10px 20px;
    margin-right: 20px;
}

button.btn.btn-create {
    background: #C60000;
    color: white;
    padding: 10px 20px;
}